# Ignore game files
*.txt
build_info
Voice/
*.wav
UnityServicesProjectConfiguration.json
*.tmp
# and all .xlsx except ru one
*.xlsx
!Localization_ru.xlsx
# and some other files 
localization_backup.json
Uploader